name: Live Relay M3U8

on:
  workflow_dispatch:
    inputs:
      m3u8_url:
        description: 'Tempel Link .m3u8 Di Sini'
        required: true
      kunci_rtmp:
        description: 'Tempel Stream Key YouTube Kamu'
        required: true

jobs:
  streaming:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt update && sudo apt install ffmpeg -y

      - name: Mulai Streaming
        run: |
          # Menggunakan copy codec agar ringan dan kualitas asli
          ffmpeg -re -i "${{ github.event.inputs.m3u8_url }}" \
          -c:v copy -c:a copy -f flv "rtmp://a.rtmp.youtube.com/live2/${{ github.event.inputs.kunci_rtmp }}"
          
