name: Live Relay Video + Custom Audio

on:
  workflow_dispatch:
    inputs:
      m3u8_url:
        description: '1. Tempel Link .m3u8 Video (CCTV)'
        required: true
      audio_url:
        description: '2. Tempel Link Audio/Musik (m3u8/mp3/aac)'
        required: true
      kunci_rtmp:
        description: '3. Tempel Stream Key YouTube'
        required: true

jobs:
  streaming:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: |
          sudo apt update
          sudo apt install ffmpeg -y

      - name: Persiapkan Cookies
        run: |
          # Mengambil isi secret YT_COOKIES dan menyimpannya ke file cookies.txt
          echo "${{ secrets.YT_COOKIES }}" > cookies.txt
          
      - name: Jalankan Live (Video + Audio Custom)
        run: |
          # Menjalankan FFmpeg dengan header cookies jika diperlukan untuk input
          # Catatan: FFmpeg menggunakan opsi -headers untuk menyuntikkan cookies
          
          ffmpeg -re -headers "Cookie: $(cat cookies.txt | tr -d '\n')\r\n" -i "${{ github.event.inputs.m3u8_url }}" \
          -re -i "${{ github.event.inputs.audio_url }}" \
          -c:v libx264 -preset veryfast -b:v 3000k -maxrate 3000k -bufsize 6000k \
          -pix_fmt yuv420p -g 60 \
          -c:a aac -b:a 128k -ar 44100 \
          -map 0:v:0 -map 1:a:0 \
          -shortest -f flv \
          "rtmp://a.rtmp.youtube.com/live2/${{ github.event.inputs.kunci_rtmp }}"
          
