name: Live Relay Jalur Belakang

on:
  workflow_dispatch:
    inputs:
      id_video:
        description: 'Isi ID Video saja (Contoh: KzsbAUx6mAE)'
        required: true
      kunci_rtmp:
        description: 'Tempel Stream Key YouTube Kamu'
        required: true

jobs:
  streaming:
    runs-on: ubuntu-latest
    steps:
      - name: Install Alat
        run: |
          sudo apt update
          sudo apt install ffmpeg -y
          sudo curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -o /usr/local/bin/yt-dlp
          sudo chmod a+rx /usr/local/bin/yt-dlp

      - name: Eksekusi Relay
        run: |
          # Kita pakai trik 'ios' karena biasanya proteksi bot-nya lebih lemah
          VIDEO_URL=$(yt-dlp --extractor-args "youtube:player_client=ios" -f "best[height<=720]" -g "https://www.youtube.com/watch?v=${{ github.event.inputs.id_video }}")
          
          ffmpeg -re -i "$VIDEO_URL" \
          -c:v copy -c:a copy -f flv "rtmp://a.rtmp.youtube.com/live2/${{ github.event.inputs.kunci_rtmp }}"
          
