name: Live Relay M3U8 3 Kolom

on:
  workflow_dispatch:
    inputs:
      m3u8_url:
        description: '1. Tempel Link .m3u8'
        required: true
      rtmp_url:
        description: '2. URL RTMP (Contoh: rtmp://a.rtmp.youtube.com/live2/)'
        default: 'rtmp://a.rtmp.youtube.com/live2/'
        required: true
      kunci_rtmp:
        description: '3. Tempel Stream Key'
        required: true

jobs:
  streaming:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt update && sudo apt install ffmpeg -y

      - name: Mulai Streaming
        run: |
          # Perintah ini menggabungkan kolom 2 dan kolom 3 secara otomatis
          ffmpeg -re -i "${{ github.event.inputs.m3u8_url }}" \
          -c:v copy -c:a copy -f flv "${{ github.event.inputs.rtmp_url }}${{ github.event.inputs.kunci_rtmp }}"
          
