name: Live Relay Video + Auto Silent

on:
  workflow_dispatch:
    inputs:
      m3u8_url:
        description: '1. Tempel Link .m3u8 Video'
        required: true
      kunci_rtmp:
        description: '2. Tempel Stream Key YouTube'
        required: true

jobs:
  streaming:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt update && sudo apt install ffmpeg -y

      - name: Jalankan Live (Suara Kosong Otomatis)
        run: |
          # Perintah sakti anullsrc membuat suara hening/kosong secara otomatis
          ffmpeg -re -i "${{ github.event.inputs.m3u8_url }}" \
          -f lavfi -i anullsrc=channel_layout=stereo:sample_rate=44100 \
          -c:v libx264 -preset veryfast -b:v 2500k \
          -c:a aac -b:a 128k \
          -map 0:v:0 -map 1:a:0 -shortest -f flv \
          "rtmp://a.rtmp.youtube.com/live2/${{ github.event.inputs.kunci_rtmp }}"
          
